.qodef-meta-box {
	table.qodef-meta-box-holder {
		width: 100%;

		tr.qodef-page-form-section {
			th {
				width: 250px;

				p {
					font-weight: 400;
					color: #9e9e9e;
				}
			}

			.qodef-field-desc {
				h4 {
					margin-bottom: 1.5em;
				}

			}
		}
	}
}